<% @journals.each do |j| %>
<% next if j.notes.blank? %>
<div class="form-group journals">
    <div id="change-<%= j.id %>" class="journal has-notes" data-controller="quote-reply">
    <div id="note-1" class="note">
      <h4 class="journal-header"
      <%
        if j.id > @last_id.to_i 
      %>
      style = "background: red;color: white;"
      <% end %>
      >
        <span class="journal-info">
          Updated by <b style="color: blue;"><%= j.ic_id.present? ? (IssueCustomer.find(j.ic_id).name.present? ? IssueCustomer.find(j.ic_id).name : IssueCustomer.find(j.ic_id).customer_email) : j.user.name %> <span class="local-time" data-time="<%= j.created_on.utc.iso8601 %>">
<%= j.created_on.in_time_zone("Singapore").strftime("%d-%m-%Y %H:%M:%S") %>
</span></b>
          <span id="journal-9212-private_notes" class=""></span>
        </span>
      </h4>
      <div class="journal-content">
        <div id="journal-9212-notes" class="wiki journal-note" data-quote-reply-target="content"><p><%= textilizable(j, :notes) %></p></div>
      </div>
    </div>
  </div>
</div>
<% end %>