<div class="registration-form">
    <% if @ic.responded? %>
    <%= form_tag helpdesk_add_notes_path(params[:enckey]) do |f| %>
    <!--<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Email</h5>
            <span class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="email" name="email" style="border: 2px solid;">
          </div>
          <div class="modal-footer">
            <span type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
            <input type="submit" class="btn btn-primary" value="Invite" />
          </div>
        </div>
      </div>
    </div>-->
    <div class="header">
        <img style="float: left;width: 100px;" src="https://www.dcsnetworks.sg/uploads/7/9/4/7/79473268/6711601.jpg" alt="DCS Networks Logo" class="logo">
        <h2 style="text-align: center;font-size: x-large;">DCS Networks Pte Ltd - Chat Ticketing Tracking Systems</h2>
        <p style="text-align: center;"><b>Ticket Number : <span  style="color: red;" class="ticket-number">#<%= @issue.id %></span></b></p>
    </div>
    <!--<div class="form-icon" style="background: none;">
        <img src="https://www.dcsnetworks.sg/uploads/7/9/4/7/79473268/6711601.jpg" />
    </div> -->
    <%= render_flash_messages %>
    <!--<div class="form-group">
        <p>
            <span style="width: auto;float: right;"  data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-block create-account">Invite</span>
        </p>
    </div>-->
    <!--
    <div style="text-align: center;">
        <h3>DCS Networks Pte Ltd : Chat Ticketing Tracking</h3>
    </div>-->
    <br />
    <br />
    <!--
    <div class="form-group">
        <p>
            <label>Ticket Number:</label> <span><b>#<%= @issue.id %></b></span>
        </p>
    </div> -->
    <!--<div class="form-group">
        <p>
            <label>Status:</label> <span><b><%= @issue.status.name %></b></span>
        </p>
    </div> -->
    <div class="form-group">
        <p>
            <label>Subject:</label> <span><b><%= @issue.subject %></b></span>
        </p>
    </div>
    <div class="form-group">
        <p>
            <label>Description:</label> <span><b><%= @issue.description %></b></span>
        </p>
    </div>
    <div class="form-group">
        <p>
            <label>Could you share your name with me?:</label> <span><b>
                <% if @issue.closed? %>
                <%= @ic.name %>
                <% else %>
                <input type="text" style="padding: 10px;border: 2px solid;" name="customer_name" value="<%= @ic.name %>">
                <% end %>
                </b></span>
        </p>
    </div>
    <div class="form-group">
        <p>
            <label>Would you like to invite your colleague?:</label> 
            <li>If yes, let me know, let me have their emails as below</li>
            <span><b>
                <% if @issue.closed? %>
                <%= IssueCustomer.where(issue_id: @issue.id).pluck(:customer_email).join(',') %>
                <% else %>
                <input placeholder="(format as this
xxx@abc.com,yyy@abc.com,zzz@abc.com)" style="width: 75%;padding: 10px;border: 2px solid;" type="text" name="email"></b> <input type="submit" class="btn btn-primary" value="Submit" />
            <% end %>
            </span>
        </p>
    </div>
    <div class="form-group">
        <p>
            <label>Helpdesk Email:</label> <span><b><a href="mailto:helpdesk@dcsnpl.sg">helpdesk@dcsnpl.sg</a></b></span>
        </p>
    </div>
    <div id="journal_block">
    <% @journals.each do |j| %>
    <% next if j.notes.blank? %>
    <div class="form-group journals">
        <div id="change-<%= j.id %>" class="journal has-notes" data-controller="quote-reply">
        <div id="note-1" class="note">
          <h4 class="journal-header">
            <span class="journal-info">
              Updated by <b style="color: blue;"><%= j.ic_id.present? ? (IssueCustomer.find(j.ic_id).name.present? ? IssueCustomer.find(j.ic_id).name : IssueCustomer.find(j.ic_id).customer_email) : j.user.name %> <span class="local-time" data-time="<%= j.created_on.utc.iso8601 %>">
  <%= j.created_on.in_time_zone("Singapore").strftime("%d-%m-%Y %H:%M:%S") %>
</span></b>
              <span id="journal-9212-private_notes" class=""></span>
            </span>
          </h4>
          <div class="journal-content">
            <div id="journal-9212-notes" class="wiki journal-note" data-quote-reply-target="content"><p><%= textilizable(j, :notes) %></p></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
    <hr />
    <div class="form-group" id="attachments_link">
        <p><%= render :partial => 'attachments/customer_links', :locals => {:attachments => @issue.attachments, container: @issue } %></p>
    </div>
    <% unless @issue.closed? %>
    <div class="form-group" id="new-attachments" style="display:inline-block;">
        <label><b>Attachments</b></label>
        <p><%= render :partial => 'attachments/customer_attachment', :locals => {:container => @issue } %></p>
    </div>
    <div class="form-group">
        <hr />
        <p>
            <input type="hidden" id="last_journal_id" value="<%= @journals.last.try(:id).to_i %>">
            <input type="hidden" id="recent_journal_id" value="<%= @journals.last.try(:id).to_i %>">
            <label style="color: red;"><b>Your Message to us:</b></label>
            <%= text_area_tag 'notes', '', rows: 10, style: 'border: 2px solid', placeholder: 'Please reply here' %>
        </p>
        <p><input style="width: auto;" type="submit" id="submit_button" class="btn btn-block create-account" value="Submit" onclick="document.getElementById('email').value = ''">
        <a id="close-ticket" data-base-url="<%= helpdesk_close_path(params[:enckey]) %>" href="#" style="background: red;" class="btn btn-block create-account">Problem Solved</a>
        </p>
    </div>
    <% end %>
<audio style="display: none;" id="ding" src="/assets/audio/ding-101492.mp3"></audio>
<% end %>
<% unless @issue.closed? %>
<script>

    document.getElementById('close-ticket').addEventListener('click', function (e) {
      e.preventDefault();

      if (confirm('Are you sure you want to close this ticket?')) {
        const lastId = document.getElementById('notes').value;
        const baseUrl = this.dataset.baseUrl;
        const finalUrl = `${baseUrl}?msg=${encodeURIComponent(lastId)}`;
        window.location.href = finalUrl;
      }
    });

    setInterval(function() {
      Rails.ajax({
        url: "<%= helpdesk_refresh_path(params[:enckey]) %>?last_journal_id="+ document.getElementById('last_journal_id').value+ "&recent_journal_id="+ document.getElementById('recent_journal_id').value,
        type: "GET"
      });
    }, 10000);
</script>
<% end %>
<% else %>
<%= form_tag helpdesk_show_path(params[:enckey]) do |f| %>
<div class="header" style="width:100%; border-bottom:1px solid #ddd; padding-bottom:15px; margin-bottom:15px;">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <!-- Logo -->
      <td width="120" valign="top">
        <img src="https://www.dcsnetworks.sg/uploads/7/9/4/7/79473268/6711601.jpg"
             alt="DCS Networks Logo"
             style="width:100px;">
      </td>

      <!-- Content -->
      <td valign="top">
        <h2 style="margin:0; font-size:22px;">
          Welcome to DCS Networks Support,
          <span style="color:red;">
            Ticket #<%= @issue.id %>
          </span>
        </h2>

        <p style="margin:8px 0;">
          <b>Name :</b>
          <span style="color:red;"><input type="text" name="name" value="<%= @ic.name %>" required/></span>
        </p>

        <p style="margin:4px 0;">
          <b>Email :</b>
          <span style="color:red;"><input type="email" name="customer_email" value="<%= @ic.customer_email %>" required />
          </span>
        </p>

        <p style="margin:4px 0; display:flex; align-items:center;">
          <b>Do you need email notification for any update? : </b>
          &nbsp;
          <span>
            <label style="margin-right:5px;">
              <%= radio_button_tag "email_notification", 1 %> Yes
            </label>

            <label>
              <%= radio_button_tag "email_notification", 0, 1 %> No
            </label>
          </span>
        </p>
        <input type="submit">
      </td>
    </tr>
  </table>
</div>
<% end %>
<% end %>
</div>