<%
  issue = tab[:locals][:issue]
  journals = tab[:locals][:journals]
%>

<% reply_links = issue.notes_addable? -%>
<% for journal in journals %>
  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>" data-controller="quote-reply">
    <div id="note-<%= journal.indice %>" class="note">
      <h4 class="journal-header"
        <% if @last_id.present? && @last_id.to_i < journal.id %>
          style="background: red;color: white;"
        <% end %>
      >
        <span class="journal-info">
          <% if journal.ic_id.present? %>
              Updated by <b style="color: blue;"><%= journal.ic_id.present? ? (IssueCustomer.find(journal.ic_id).name.present? ? IssueCustomer.find(journal.ic_id).name : IssueCustomer.find(journal.ic_id).customer_email) : journal.user.name %> <span class="local-time">
                <%= journal.created_on.in_time_zone("Singapore").strftime("%d-%m-%Y %H:%M:%S") %>
              </span></b>
            </span>
          <% elsif journal.chat_id.present? %>
              Updated by <b style="color: blue;"><%= journal.chat_id.present? ? (ChatEmail.find(journal.chat_id).name.present? ? ChatEmail.find(journal.chat_id).name : ChatEmail.find(journal.chat_id).customer_email) : journal.user.name %> <span class="local-time">
                <%= journal.created_on.in_time_zone("Singapore").strftime("%d-%m-%Y %H:%M:%S") %>
              </span></b>
            </span>
          <% else %>
            <%= avatar(journal.user) %>
            <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %>
            <%= render_private_notes_indicator(journal) %>
            <%= render_journal_update_info(journal) %>
          <% end %>
        </span>
        <span class="journal-meta">
          <span class="journal-actions">
            <%= render_journal_actions(issue, journal, :reply_links => reply_links) %>
          </span>
          <a href="#note-<%= journal.indice %>" class="journal-link">#<%= journal.indice %></a>
        </span>
      </h4>
      <div class="journal-content">
        <% if journal.details.any? %>
          <ul class="journal-details">
            <% details_to_strings(journal.visible_details).each do |string| %>
              <li><%= string %></li>
            <% end %>
          </ul>
          <% if Setting.thumbnails_enabled? && (thumbnail_attachments = journal_thumbnail_attachments(journal)).any? %>
            <div class="thumbnails">
              <% thumbnail_attachments.each do |attachment| %>
                <%= thumbnail_tag(attachment) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank? %>
      </div>
    </div>
  </div>
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>
<% end %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
