<% if @journal.private_notes? %>
  (<%= l(:field_private_notes) %>)
<% end %>
<%
  u = @journal.user
  if u.is_a?(AnonymousUser)
    if @journal.ic_id.present?
      u = User.new
      u.lastname = (IssueCustomer.find(@journal.ic_id).name.present? ? "#{IssueCustomer.find(@journal.ic_id).name}(#{IssueCustomer.find(@journal.ic_id).customer_email})" : IssueCustomer.find(@journal.ic_id).customer_email)
    end
    if @journal.chat_id.present?
      u = User.new
      u.lastname = (ChatEmail.find(@journal.chat_id).name.present? ? "#{ChatEmail.find(@journal.chat_id).name}(#{ChatEmail.find(@journal.chat_id).customer_email})" : ChatEmail.find(@journal.chat_id).customer_email)
    end
  end
%>
<%= l(:text_issue_updated, :id => link_to("##{@issue.id}", @issue_url), :author => h(u)).html_safe %>
<hr />

<ul class="journal details">
<% details_to_strings(@journal_details, false, :only_path => false).each do |string| %>
  <li><%= string %></li>
<% end %>
</ul>

<%= textilizable(@journal, :notes, :only_path => false) %>
<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :user => @user, :issue_url => @issue_url } %>
