<p>Dear Customer,</p>
<p>This is follow up for this ticket in our Chat Ticketing Tracking.</p>
<p>New message added by <%= @journal.user.name %></p>
<hr />
<p><a href="https://project.oneplan.cloud/helpdesk/<%= IssueCustomer.encrypt_for_issue(@journal.issue.id) %>" style="
            display:inline-block;
            padding:10px 22px;
            font-family: Arial, sans-serif;
            font-size:14px;
            color:#ffffff;
            background: blue;
            text-decoration:none;
            font-weight:600;
            border:1px solid #085A73;
            border-radius:3px;" target="_blank">View Your Ticket</a></p>
<p><b>Message: </b></p>
<p>
	<em>
		<%= textilizable(@journal, :notes, :only_path => false) %>
	</em>
<hr />
<p>Please click the link to reply back</p>
<p><a style="color: red;" href="<%= @url %>?ic=<%= @customer.id %>">Reply!</a></p>
<br />
<br />

<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : helpdesk@dcsnpl.sg</p>
