<p>Dear Customer,</p>
<p style="color: red;"><b>This is a follow-up regarding
the ticket logged in our ticketing system.</b></p>
<p style="color: red;"><b>If you have any new updates,
please reply to this email without changing the subject line so that we can
continue tracking your ticket properly.</b></p>
<p>New message added by <%= @journal.user.name %></p>
<hr />
<p><a href="https://project.oneplan.cloud/helpdesk/<%= IssueCustomer.encrypt_for_issue(@journal.issue.id) %>" style="
            display:inline-block;
            padding:10px 22px;
            font-family: Arial, sans-serif;
            font-size:14px;
            color:#ffffff;
            background: blue;
            text-decoration:none;
            font-weight:600;
            border:1px solid #085A73;
            border-radius:3px;" target="_blank">View Your Ticket</a></p>
<p><b>Message: </b></p>
<p>
	<em>
		<%= textilizable(@journal, :notes, :only_path => false) %>
	</em>
<hr />
<br />
<br />
<div id="journal_block">
    <% @journal.issue.journals.reverse.each do |j| %>
    <% next if j.id == @journal.id %>
    <% next if j.notes.blank? %>
    <div class="log-entry journals">
        <div id="change-<%= j.id %>" class="journal has-notes" data-controller="quote-reply">
        <div id="note-1" class="note">
          <h4 class="journal-header">
            <span class="journal-info">
              Updated by <b style="color: blue;"><%=
            # if journal.ic_id.present?
              j.chat_id.present? ? (ChatEmail.find(j.chat_id).try(:name).present? ? ChatEmail.find(j.chat_id).try(:name) : ChatEmail.find(j.chat_id).try(:customer_email)) : j.user.try(:name)
          %> <span class="local-time" data-time="<%= j.created_on.utc.iso8601 %>">
  <%= j.created_on.in_time_zone("Singapore").strftime("%d-%m-%Y %H:%M:%S") %>
</span></b>
              <span id="journal-9212-private_notes" class=""></span>
            </span>
          </h4>
          <div class="journal-content">
            <div id="journal-9212-notes" class="wiki journal-note" data-quote-reply-target="content"><p><%= textilizable(j, :notes) %></p></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
<hr />
<br />
<br />
<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : helpdesk@dcsnpl.sg</p>
