<p><b>Hello <%= @customer.name %>,</b></p>
<br />
<p>Thank you for reaching out! We’ve received your request and a support ticket has been created. Our team will look into it and get back to you as soon as possible.</p>
<p><b>Your Request :</b></p>
<p><%= textilizable(@issue, :description, :only_path => false) %></p>
<p><b>Your ticket number is: #<%= @issue.id %></b></p>
<p>Please use this number for any future communication regarding this issue.</p>
<p><a href="https://project.oneplan.cloud/helpdesk/<%= IssueCustomer.encrypt_for_issue(@issue.id) %>" style="
            display:inline-block;
            padding:10px 22px;
            font-family: Arial, sans-serif;
            font-size:14px;
            color:#ffffff;
            background: blue;
            text-decoration:none;
            font-weight:600;
            border:1px solid #085A73;
            border-radius:3px;" target="_blank">View Your Ticket</a></p>
<br />
<p><b>What happens next? :</b></p>
<p>A member of our team will review your request and respond shortly. Our standard
response time is within <b>9am to 6pm from Monday to Friday, 9am to 1pm on Saturday</b>
during Singapore working hour</p>
<p>You will receive an email notification when our staff replies to your ticket.</p>
<p>If you need to provide additional information or updates, simply<b>reply to this email.</b></p>
<p>Please <b>do not change the email subject</b> as this may affect the ticket tracking. If you would like to add additional email contacts, please inform us and we will update the contact list for you.</p>
<% if @issue.attachments.present? %>
<hr />
<p><b>Click to view the attachments: </b></p>
	<% @issue.attachments.each do |att| %>
	<p>
		<em>
			<%= link_to att.filename, service_download_url(att), class: 'icon-only icon-download ', title: l(:button_download), download: true, icon: 'download' -%>
	  </em>
	  </p>
	<% end %>
<% end %>
<p>Kind regards,</p>
<p><b>Helpdesk Team, DCS Networks Pte Ltd</b></p>
<p>Helpdesk (65) 65001212</p>
<p>helpdesk@dcsnpl.sg</p>