<p>Dear Customer,</p>
<p>This is follow up for this ticket in our Chat Ticketing Tracking.</p>
<p>Notes added by <%= @journal.user.name %></p>
<hr />
<p><b>Notes: </b></p>
<p>
	<em>
		<%= @journal.notes %></p>
	</em>
<hr />
<br />
<br />
<div id="journal_block">
    <% @journal.issue.journals.reverse.each do |j| %>
    <% next if j.id == @journal.id %>
    <% next if j.notes.blank? %>
    <div class="log-entry journals">
        <div id="change-<%= j.id %>" class="journal has-notes" data-controller="quote-reply">
        <div id="note-1" class="note">
          <h4 class="journal-header">
            <span class="journal-info">
              Updated by <b style="color: blue;"><%=
            # if journal.ic_id.present?
              j.chat_id.present? ? (ChatEmail.find(j.chat_id).try(:name).present? ? ChatEmail.find(j.chat_id).try(:name) : ChatEmail.find(j.chat_id).try(:customer_email)) : j.user.try(:name)
          %> <span class="local-time" data-time="<%= j.created_on.utc.iso8601 %>">
  <%= j.created_on.in_time_zone("Singapore").strftime("%d-%m-%Y %H:%M:%S") %>
</span></b>
              <span id="journal-9212-private_notes" class=""></span>
            </span>
          </h4>
          <div class="journal-content">
            <div id="journal-9212-notes" class="wiki journal-note" data-quote-reply-target="content"><p><%= textilizable(j, :notes) %></p></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
<hr />
<br />
<br />
<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : helpdesk@dcsnpl.sg</p>
