<hr />
<p>
  <strong>Invite customer for Chatting:</strong>
</p>
<% ics = IssueCustomer.where(issue_id: @issue.id) %>
<% if ics.present? %>
<table class="list issues odd-even sort-by-id sort-desc">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Added by</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% ics.each do |ic| %>
			<tr>
				<td><%= ic.name %></td>
				<td><%= ic.customer_email %></td>
				<td><%= ic.added_str %></td>
				<td>
					<a onclick="navigator.clipboard.writeText('<%= helpdesk_show_url(:enckey => ic.encrypt_for_url) %>')
					  .then(() => {
					    alert('Link to copied!');
					  })
					  .catch(err => {
					    console.error('Copy failed', err);
					    alert('Failed to copy text');
					  });" href="#">Copy Link</a>
					<%= link_to 'delete', helpdesk_destroy_path(@issue,ic), method: 'delete', "data-confirm"=>"Are you sure?", class: 'icon-only icon-del' %>
						
					</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<div>
	<input type="hidden" id="last_journal_id" value="<%= @issue.journals.last.try(:id) %>" />
	<input type="hidden" id="recent_journal_id" value="<%= @issue.journals.last.try(:id) %>" />
	<%= form_tag helpdesk_update_path(@issue) do |f| %>
		<!--<div class="label"><span></span>:</div> -->
		<%= text_field_tag :customer, nil, placeholder: "(format as this
xxx@abc.com,yyy@abc.com,zzz@abc.com)", style: 'width: 40%' %>
		<input type="submit" id="submit_button" class="btn btn-block create-account" value="Submit">
	<% end %>
</div>
<% if ics.present? && !@issue.closed? %>
<audio style="display: none;" id="ding" src="/assets/audio/ding-101492.mp3"></audio>
<script>
	$(document).ready(function(){
		setInterval(function() {
			if ($('.has-notes').is(':visible')) {
	      Rails.ajax({
	        url: "<%= journal_refresh_path(@issue) %>?last_journal_id="+ document.getElementById('last_journal_id').value + "&recent_journal_id="+ document.getElementById('recent_journal_id').value,
	        type: "GET"
	      });
	      $('.has-details').hide();
    	}
    }, 10000);
	});
</script>
<% end %>

<% if ics.present? && !@issue.closed? && @issue.journals.blank? %>
<audio style="display: none;" id="ding" src="/assets/audio/ding-101492.mp3"></audio>
<script>
	$(document).ready(function(){
		setInterval(function() {
	      Rails.ajax({
	        url: "<%= journal_refresh_path(@issue) %>",
	        type: "GET"
	      });
    }, 10000);
	});
</script>
<% end %>